<nav class="navbar navbar-expand-lg bg-primary">
  
  <div class="container-fluid">
    <a href=""><img src="../assets/img/its-fondo.jpg" width="500" height="80" /></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<router-outlet></router-outlet>

<body>
  
</body>

<footer class="bg-dark text-center text-white">
  <div class="footer-copyright text-center py-3">© 2022 Copyright:
    <a class="text-white"> ChristopherJRM.com</a>
  </div>
</footer>
